@media (max-width: 750px) {
    .header__navtop {
        display: none;
    }

    .navbar-left {
        display: none;
    }

    .header__navbar {
        width: 94%;
    }

    #header .navbar-right {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .box-title>button {}

}
@media (max-width: 769px) {
    .contact-desc,
    .link-footer p,
    .entrance p {
        margin-top: 24px !important;
        margin-bottom: 4px !important;
    }
    .entrance p {
        margin-bottom: 16px !important;
    }
}