* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

:root {
    --green-color: #88b82e;
    --blue--color: #0a92cd;
    --color-green-background: #89b92e;
    --darkblue-color: #193963;
    --color-white-background: #f3f7fa;
}

#header {
    width: 100%;
}

.header__navtop {
    max-width: 1333px;
    width: 85%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    /* margin: 10px 55px; */
    height: 75px;
}

.nav__top-left {
    display: flex;
    align-items: center;

}

.nav__top-left a {
    text-decoration: none;
    font-size: 12px;
}

.nav__top-desc {
    margin-left: 10px;
    line-height: 30px;
}

.nav__top-desc h4 {
    font-size: 16px;
    font-weight: 600;
    color: var(--green-color);
}


.nav__top-right {
    display: flex;
    align-items: center;
}

.nav__title {
    margin-left: 14px;
    padding: 0 0px 0px 3px;
    display: flex;
    align-items: center;
}

.nav__title:hover {
    box-shadow: -2px 0px #b9c3d1;
    transition: 0.2s ease-in;
}


.nav__title svg {
    width: 47px;
    padding: 0px 10px 0px 10px;
}

.nav__title svg path {
    fill: var(--green-color) !important;
}




.nav__title-desc {
    line-height: 20px;
}

.nav__title-desc h5 {
    font-size: 16px;
    color: var(--blue--color);
}

.nav__title-desc h6 {
    font-size: 14px;
    font-weight: 100;
    color: #8394ab;
}

.header__navbar {
    max-width: 1333px;
    width: 85%;
    margin: 0px auto;
    /* background-color: var(--darkblue-color); */
    height: 65px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.header-posi {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 999;
    background-color: var(--darkblue-color);
}

#nav {
    display: flex;
}

#nav li {
    list-style: none;
    position: relative;
    padding: 0 24px 0 24px;
}

#nav>li:nth-child(1) {
    padding: 0 24px 0 0px;

}

#nav>li>a {
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    line-height: 65px;

}

#nav li a {
    text-decoration: none;
    display: block;

}

#nav li:hover .subnav {
    display: block;
}

.subnav__padding {
    padding: 0px 0px 0px 0px;
}


#nav>li>a::after {
    content: "";
    height: 5px;
    width: 0;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease-in-out;
}

#nav>li:hover>a::after {
    width: 100%;
}


#nav>li::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
}


#nav .subnav {
    top: 100%;
    min-width: 260px;
    padding: 5px 0;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    animation: action 0.3s ease-in-out;
    margin-top: 10px;
}

@keyframes action {
    from {
        transform: translateY(10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#nav .subnav-col {
    display: flex;
}

#nav .subnav-col-left {
    min-width: 215px;
}

#nav .subnav-col-right {
    min-width: 290px;
    border-left: 1px solid #ccc;
}

#nav .subnav li a {
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    display: block;
    color: var(--darkblue-color);
}

#nav .subnav li a:hover {
    color: var(--green-color);
    text-decoration: underline;

}


#header .navbar-right {
    line-height: 65px;
    font-size: 22px;
    display: flex;
    position: relative;
}

#header .navbar-right a {
    color: #fff;
    text-decoration: none;
}

#header .navbar-btn {
    padding: 0 0 0 20px;
    font-size: 21px;
}

#header .navbar-btn img {
    width: 27px;
    display: flex;
}

#header .navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-mobile {
    display: none;
}


.nav__top-mb-left {
    display: flex;
    align-items: center;
}

.nav__top-mb-left img {
    width: 44px;
}

.nav__top-mb-desc {
    margin-left: 8px;
}

.nav__top-mb-desc a {
    color: #fff;
    line-height: 20px;
    text-decoration: none;
}

.nav__top-mb-desc h2 {
    font-size: 15px;
}

.nav__top-mb-desc h4 {
    font-size: 12px;
}

.nav__top-mb-right {
    font-size: 25px;
    color: #fff;
}


/* search-btn */

#header .search-box {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    margin: auto 0px;
    border-radius: 50px;
    transition: ease-in-out 0.3s;
    right: 170px;
    top: 12px;
}

#header .search-box__input {
    width: 100%;
    height: 100%;
    padding: 20px 50px 20px 20px;
    font-size: 16px;
    border-radius: 50px;
    outline: none;

}

#header .search-box:hover {
    width: 270px;
}


#header .search-box__btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 21px;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}


.section__title {
    height: 540px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.box-title>button {
    width: 40px;
    height: 40px;
    transform: translateY(445%);
    background-color: rgba(0, 0, 0, 0.295);
    border: #fff 1px solid;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

.box-title>button:hover {
    background-color: #fff;
    color: var(--darkblue-color);
}


.section__title .next {
    right: 0;
}

.section__title .prev {
    left: 0;

}

.section__title-slides img {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.section__title-slides img.displaySlide {
    display: block;
    animation: fade 0.5s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

.box__shadow-img {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(0, rgb(255, 255, 255), rgba(0, 0, 0, 0));

}

.section__desc-title {
    position: absolute;
    margin-top: 90px;
    width: 35%;
    min-width: 540px;
    z-index: 0;
    display: none;
}

.section__desc-title.displaySlide {
    display: block;
}

.section__desc-line {
    color: #fff;
}

.section__desc-line h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;
    animation: actionBottom 0.5s ease-in-out;

}

.section__desc-line p {
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 15px;
    animation: actionLeft 0.8s ease-in-out;

}


@keyframes actionBottom {
    from {
        transform: translateY(90%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;

    }
}

@keyframes actionLeft {
    from {
        transform: translateX(50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.section__desc-btn button {
    font-weight: bold;
    padding: 10px 8px;
    background-color: var(--green-color);
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.section__survice {
    margin: 0px 0 -130px 0;
    /* transform: translateY(-16%); */
    /* height: 100vh; */
}


.survice__box {
    width: 85%;
    max-width: 1350px;
    /* height: 400px; */
    background-color: #ffffff;
    margin: 0 auto;
    transform: translateY(-140px);
    border-radius: 20px;
}

.section__survice h1 {
    font-weight: bold;
    text-align: center;
    padding: 30px 0 18px 0;
    font-size: 26px;
    text-transform: uppercase;
    color: var(--darkblue-color);
}

.survice__box span {
    color: var(--green-color);
}

.survice__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 13px 20px 14px;
    list-style: none;
    animation: fades 0.5s ease-in-out;
}


@keyframes fades {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}


.survice__list-container {
    padding: 10px;
    width: 32%;
    height: 370px;
    margin-bottom: 27px;
    box-shadow: 0px 15px 14px #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.survice__list-container:hover {
    box-shadow: none;
}

.survice__list-title {
    background-color: rgb(255, 255, 255);
    height: 100%;
    overflow: hidden;

}

.survice__list-title img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.survice__list-title img:hover {
    transform: scale(1.1);

}

.survice__list-title a {
    font-size: 20px;
    color: rgb(36, 32, 32);
    padding: 20px 20px;
    text-align: center;
    display: block;
    margin-top: 18px;
    text-decoration: none;
}

.image__zomm {
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.survice__list-title a:hover {
    color: var(--green-color);
}

.btn-slide-survice {
    display: flex;
    justify-content: space-between;
    width: calc(100% + 90px);
    align-items: center;
    position: absolute;
    top: calc(50% - -20px);
    transform: translateX(-50%);
    left: 50%;
    height: 0;
}

.btn-survice {
    font-size: 50px;
    color: #ccc;
    background-color: #fff;
    border: none;
}

.large {
    height: 100px;
}

.container-website {
    width: 85%;
    height: 230px;
    margin: auto;
    max-width: 1333px;
}

footer {
    display: block;
    padding-top: 32px;
    background-color: var(--darkblue-color);
    color: white;
}

.footer-info-container {
    display: flex;
    justify-content: space-between;
}

.footer-social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 12px;
}

.footer-social-icon a {
    display: block;
    width: 32px;
    height: 32px;
}

.footer-social-icon img {
    width: 35px;
    height: 150%;
    object-fit: contain;
}

.link-footer,
.contact,
.entrance {
    display: flex;
    flex-direction: column;
}

.contact p:nth-of-type(n+2) {
    line-height: 24px;
}

.contact p {
    margin-bottom: 15px;
}

#visits {
    color: var(--green-color);
}

.contact a,
.link-footer a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.contact {
    width: 306px;
}

.contact .fa-solid {
    margin-right: 10px;
}

.contact-desc {
    font-weight: bold;
}

.contact-mail {
    display: flex;
}

.contact a:hover {
    color: #8394ab;
    text-decoration: underline
}

.entrance {
    font-weight: bold;
}

.entrance p {
    margin-bottom: 15px;
}

.link-footer a:hover {
    color: var(--green-color) !important;
    text-decoration: underline !important;
}

.link-footer a {
    display: block;
}

.info {
    line-height: 27px;
    width: 500px;
}

.info p {
    font-weight: bold;
    font-size: 16px;
}

.link-footer {
    width: 196px;
    font-weight: 500;
}

.link-footer a {
    line-height: 32px;

}

.link-footer p {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

.youtube-icon {
    margin: 0 10px;
}

.icon {
    filter: grayscale(100%) !important;
}

footer hr {
    margin: 20px 0 20px;
    opacity: .9;
}

.footer-credit {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    opacity: .9;
}

#home-footer {
    background-color: var(--color-white-background);
    height: 56px;
}

#home-footer p {
    line-height: 56px;
    /* padding: 0px 7.5%; */
    width: 85%;
    color: #7c869a;
    margin: 0 auto;
    max-width: 1333px;
}

.to-top,
.message {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 20);

}

.to-top {
    position: fixed;
    bottom: 195px;
    right: 25px;
    background-color: var(--color-green-background);
    border-radius: 50px;
    color: #fff;
    width: 40px;
    height: 40px;
    animation: actionToTop 0.5s ease-in-out;
}

@keyframes actionToTop {
    from {
        transform: translateY(30%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.message {
    position: fixed;
    bottom: 125px;
    right: 15px;
    background-color: var(--color-green-background);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.whole-container {
    width: 85%;
    margin: 0 auto;
    /* padding: 0px 6.8%; */
    max-width: 1333px;
}

.message img {
    width: 70%;
    margin-left: 8px;
    margin-top: 10px;

}

.to-top img {
    width: 100%;
}

.link {
    margin: 0px 20px;
}

.lg {
    padding-left: 0px;
    margin-left: 0px;
}

.cooperate-website {
    /* padding-left: 7.5%; */
    margin-bottom: 40px;
    color: var(--darkblue-color);
    font-weight: bold;
}

.partner {
    /* width: 85%; */
    display: flex;
    justify-content: space-between;
    /* margin: 0 100px; */
}

.brand-partner {
    width: 195px;
    height: 130px;
    background: transparent;
    background-color: #F3F7FA;

}

.brand-partner:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .3);
    transition-duration: 0.5s;
}

.brand-partner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: middle;
    /* box-shadow: 2px 2px 10px; */
    padding: 10px;
}

.main-hr {
    margin: 40px 0;
    border: 1px solid var(--color-white-background);
}

.news-container h2 {
    text-align: center;
    font-size: 27px;
}

.news-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 5px;
    flex-wrap: wrap;
    margin: 20px auto;
}

.direction-btn {
    border-radius: 3px;
    padding: 2px 20px 0px;
    background-color: #EEF1F6;
    border: none;
    height: 36px;
    cursor: pointer;
    font-weight: 500;
    color: #334f75;
}

.direction-btn:hover {
    background-color: var(--green-color);
    color: #fff;
    font-weight: 600;
}

.news-block {
    display: flex;
    gap: 25px;
    width: 100%;
}

.left-news-block {
    flex: 6;
    display: block;
}

.left-news-block img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.left-news-block-info h6 {
    margin: 20px 0 10px 0;
    line-height: 30px;
    font-size: 20px;
    font-weight: 700
}

.right-news-block {
    flex: 4;
}

.right-news-block-info {
    display: flex;
    gap: 10px;
}

.right-news-block-info img {
    width: 160px;
    height: 110px;
}

.news-block a {
    text-decoration-line: none;
}

.left-news-block p {
    color: #757F95;
}

.left-news-block,
.right-news-block p {
    color: var(--darkblue-color);
}

.right-news-block hr {
    border: 1px dashed #D3D8E4;
    opacity: 1;
    margin: 15px 0px;
}

.left-news-block:hover h6,
.right-news-block-info:hover p {
    color: var(--green-color);
}

.left-news-block p {
    font-family: "Roboto", sans-serif !important;
    line-height: 25px;
    font-size: 17px !important;
}

.right-news-block p {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}

.news-container {
    /* padding: 0 7.5%; */
    width: 85%;
    margin: 0 auto;
    max-width: 1333px;
}

.box-title,
.section__desc-slides {
    position: relative;
    width: 85%;
    margin: 0 auto;
    max-width: 1333px;
    display: flex;
}

.search {
    width: 100%;
    height: 220px;
    background-attachment: fixed;
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.285), rgba(0, 0, 0, 0.285)),
        url('./img/background-search.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 0px 60px 0;
}

.search h2 {
    text-align: center;
    padding-top: 48px;
    font-weight: bold;
    font-size: 27px;
}

.select-btn {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 5px;
    flex-direction: row;
    padding: 0 18px;
    min-width: 148px;
}

.search-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 760px;
    height: 52px;
    border-radius: 50px;
    max-width: 94%;
    margin-top: 25px;
    background-color: #ffffff;
}

.select-menu {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #ffffff;
    border-radius: 100px;
    flex-direction: row;
    display: flex;
}

.search-option-menu {
    width: 100%;
    height: 100%;
    border: none;
    flex: 1;
    cursor: pointer;
    border-radius: 100px;
    background-color: #eff1f3;
}

.select-down-btn {
    font-size: 16px;

}

.select-list {
    display: none;
    text-wrap: nowrap;
    border-radius: 20px !important;
    overflow: hidden;
    margin: 7px 0;
    box-shadow: 3px 3px 10px #ccc;

}

.option {
    display: flex;
    align-items: center;
    background: #ffffff;
    cursor: pointer;
    padding: 15px 25px 15px 18px;
    font-size: 15px;
    font-weight: 700;
    color: #444444;
    user-select: none;
}

.input {
    flex: 4;
    border: none;
    height: 100%;
    padding: 0 20px;
    outline: none;
    border-radius: 50px;
    font-size: 15px;
    width: 100%;
}

.select-menu button {
    width: auto;
    width: 20px;
    /* height: 100%; */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 19px;
    /* margin-top: -1px; */
    border: none;
}

.option:hover {
    background-color: #f2f2f2;
}

.select-btn span {
    margin: 0 10px 0 0;
    user-select: none;
    color: #333;
    font-size: 15px;
    font-weight: 400;
    text-wrap: nowrap;
}

.search-option-menu .select-list.open {
    display: block;
    animation: action 0.5s ease-in-out;
    position: relative;

}

.search-option-menu .select-btn i {
    transition: 0.4s;
    font-size: 15px;
}


.search-option-menu .select-btn i.action {
    transition: 0.4s;
    font-size: 15px;
    transform: rotate(-180deg);
}

.input::placeholder {
    font-size: 15px;
    font-weight: 400;
}