footer {
    display: block;
    padding-top: 32px;
    background-color: #193963;
    color: white;
}
.footer-info-container {
    display: flex;
    justify-content: space-around;
}
.footer-social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 12px;
}
.footer-social-icon a {
    display: block;
    width: 32px;
    height: 32px; 
}
.footer-social-icon img {
    width: 35px;
    height: 150%;
    object-fit: contain;
}
.link, .contact, .entrance {
    display: flex;
    flex-direction: column;
}
.link p, .contact p {
    margin-bottom: 10px;
}
#lượt-truy-cập {
    color: green;
}
.contact a, .link a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #88b82e !important;
    text-decoration: underline !important;
}
.link a {
    display: block;
}
.info {
    margin-left: 15px;
}
.youtube-icon {
    margin: 0 10px; 
}
.icon {
    filter: grayscale(100%) !important;
}
footer hr {
    margin: 20px 0 20px;
    opacity: .9;
}
.footer-credit {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    opacity: .9;
}
#home {
    display: flex;
    background-color: #F3F7FA;
}
#home p {
    padding: 0px 7%;
    margin: 10px 15px;
}
.btn-support {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.to-top {
    position: fixed;
    bottom: 100px;
    right: 28px;
    background-color: green;
    border-radius: 99px;
}
.message {
    position: fixed;
    bottom: 45px;
    right: 20px;
    background-color: green;
    border-radius: 99px;
}
.whole-container {
    margin: 0 auto;
    padding: 0px 7%;
}
.message img {
    width: 50px;
    background-size: cover;
}
.to-top img {
    width: 35px;
}

.link {
    margin: 0px 20px;
}
.lg {
    padding-left: 0px;
    margin-left: 0px;
}
.cooperate-website {
    margin-left: 20px;
    padding: 0px 7%;
}
.partner {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
    padding: 0px 0px 0px 7%;
}
.brand-partner{
    background-color: transparent;
    color: #F3F7FA;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    
}
.brand-partner:hover {
    transform: translateY(-10px); 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .3);
    transition-duration: 0.5s;
}
.brand-partner img {
    width: 80%;
    height: 80%;
    object-fit: contain; 
    vertical-align: middle;
}