* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

:root {
    --green-color: #88b82e;
    --blue--color: #0a92cd
}

.header__navtop {
    display: flex;
    justify-content: space-around;
    margin: 10px 55px;
    height: 75px;
}

.nav__top-left {
    display: flex;
    align-items: center;

}

.nav__top-left a {
    text-decoration: none;
    font-size: 12px;
}

.nav__top-desc {
    margin-left: 10px;
    line-height: 30px;
}

.nav__top-desc h4 {
    font-size: 16px;
    font-weight: 600;
    color: var(--green-color);
}


.nav__top-right {
    display: flex;
    align-items: center;
}

.nav__title {
    margin-left: 14px;
    padding: 0 0px 0px 3px;
    display: flex;
    align-items: center;
}

.nav__title:hover {
    box-shadow: -2px 0px #b9c3d1;
    transition: 0.2s ease-in;

}

.nav__title img {
    width: 43px;
    padding: 0px 10px 0px 0px;
}


.nav__title-desc {
    line-height: 20px;
}

.nav__title-desc h5 {
    font-size: 16px;
    color: var(--blue--color);
}

.nav__title-desc h6 {
    font-size: 14px;
    font-weight: 100;
    color: #8394ab;
}

.header__navbar {
    background-color: #193963;
    height: 65px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#nav {
    display: flex;
}

#nav li {
    list-style: none;
    position: relative;
    padding: 0 24px;

}

#nav>li>a {
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    line-height: 65px;

}

#nav li a {
    text-decoration: none;
    display: block;

}

#nav li:hover .subnav {
    display: block;
}


#nav>li>a::after {
    content: "";
    height: 5px;
    width: 0;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease-in-out;
}

#nav>li>a:hover::after {
    width: 100%;
}

#nav>li::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
}


#nav .subnav {
    top: 100%;
    min-width: 260px;
    padding: 5px 0;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    animation: action 0.3s ease-in-out;
    margin-top: 10px;
}

@keyframes action {
    from {
        transform: translateY(5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#nav .subnav-col {
    display: flex;
}

#nav .subnav-col-left {
    min-width: 215px;
}

#nav .subnav-col-right {
    min-width: 290px;
    border-left: 1px solid #ccc;
}

#nav .subnav li a {
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    display: block;
    color: #193963;
}

#nav .subnav li a:hover {
    color: var(--green-color);
    text-decoration: underline;

}


#header .navbar-right {
    line-height: 65px;
    font-size: 22px;
    display: flex;
    position: relative;
    margin-right: 20px;
}

#header .navbar-right a {
    color: #fff;
    text-decoration: none;
}

#header .navbar-btn {
    padding: 0 10px;
    font-size: 21px;
}

#header .navbar-btn img {
    width: 27px;
    display: flex;
}

#header .navbar-logo {
    display: flex;
    align-items: center;
}


/* search-btn */

#header .search-box {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    margin: auto 0px;
    border-radius: 50px;
    transition: ease-in-out 0.3s;
    right: 170px;
    top: 12px;
}

#header .search-box__input {
    width: 100%;
    height: 100%;
    padding: 20px 50px 20px 20px;
    font-size: 16px;
    border-radius: 50px;
    outline: none;

}

#header .search-box:hover {
    width: 240px;
}



#header .search-box__btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 21px;
    border: none;
    outline: none;
    background-color: #fff;
}

.large {
    height: 2000px;
}

.container-website {
    height: 225px;
}

footer {
    display: block;
    padding-top: 32px;
    background-color: #193963;
    color: white;
}

.footer-info-container {
    display: flex;
    justify-content: space-around;
}

.footer-social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 12px;
}

.footer-social-icon a {
    display: block;
    width: 32px;
    height: 32px;
}

.footer-social-icon img {
    width: 35px;
    height: 150%;
    object-fit: contain;
}

.link-footer,
.contact,
.entrance {
    display: flex;
    flex-direction: column;
}

.contact p:nth-of-type(n+2) {
    line-height: 24px;
}

.contact p {
    margin-bottom: 15px;
}

#visits {
    color: green;
}

.contact a,
.link-footer a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.contact {
    width: 306px;
}

.contact .fa-solid {
    margin-right: 10px;
}

.contact-desc {
    font-weight: bold;
}

.contact-mail {
    display: flex;
}

.contact a:hover {
    color: #8394ab;
    text-decoration: underline
}

.entrance {
    font-weight: bold;
}

.entrance p {
    margin-bottom: 15px;
}


.link-footer a:hover {
    color: var(--green-color) !important;
    text-decoration: underline !important;
}

.link-footer a {
    display: block;
}

.info {
    line-height: 27px;
    width: 500px;
}

.info p {
    font-weight: bold;
    font-size: 16px;
}

.link-footer {
    width: 196px;
    font-weight: 500;
}

.link-footer a {
    line-height: 32px;

}


.link-footer p {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}


.youtube-icon {
    margin: 0 10px;
}

.icon {
    filter: grayscale(100%) !important;
}

footer hr {
    margin: 20px 0 20px;
    opacity: .9;
}

.footer-credit {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    opacity: .9;
}

#home-footer {
    /* display: flex; */
    background-color: #F3F7FA;
    height: 56px;
}

#home-footer p {
    line-height: 56px;
    padding: 0px 7.4%;
    /* margin: 10px 15px; */
    color: #7c869a;
}

.btn-support {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to-top {
    position: fixed;
    bottom: 180px;
    right: 30px;
    background-color: #89b92e;
    border-radius: 50px;
    color: #fff;
    width: 40px;
    height: 40px;
}

.message {
    position: fixed;
    bottom: 114px;
    right: 20px;
    background-color: #89b92e;
    border-radius: 50px;
    width: 60px;
    height: 60px;
}

.whole-container {
    margin: 0 auto;
    padding: 0px 7%;
}

.message img {
    width: 100%;
    background-size: cover;
}

.to-top img {
    width: 100%;
}

.link {
    margin: 0px 20px;
}

.lg {
    padding-left: 0px;
    margin-left: 0px;
}

.cooperate-website {
    margin-left: 7.4%;
    margin-bottom: 20px;
    color: #193963;
    font-weight: bold;
}

.partner {
    display: flex;
    justify-content: space-around;
    margin: 0 100px;
}

.brand-partner {
    width: 195px;
    height: 130px;

}

.brand-partner:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .3);
    transition-duration: 0.5s;
}

.brand-partner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: middle;
    /* box-shadow: 2px 2px 10px; */
    padding: 10px;
}